<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Accueil</title>

</head>
<header>

</header>
<body>
<section class="ftco-section col-12">
    <div class="container">
        <div class="row justify-content-center">
        </div>
    </div>
    <div class="container-fluid px-md-5">
        <div class="row justify-content-between">
            <div class="col-md-8 order-md-last">
                <div class="row">
                    <div class="col-md-6 text-center">
                    </div>
                    <div
                            class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav
            class="navbar navbar-expand-md navbar-dark ftco_navbar bg-light ftco-navbar-danger"
            id="ftco-navbar">
        <div
                class="container col-md-5 justify-content-between">
            <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#ftco-nav"
                    aria-controls="ftco-nav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse "
                 id="ftco-nav">
                <ul class="navbar-nav row-cols-5 justify-content-space-around">

                    <li class="logo1 col-12 justify-content-start text-danger"><img
                            src="/image/flash-cash-high-resolution-logo-transparent.png" alt
                            width="50px"
                            height="auto"></li>

                    <li class="nav-item active text-dark m-0"> <button>Accueil</button> </li>
                    <li class="nav-item text-dark m-0"> <button>Transfert</button></li>
                    <li class="nav-item text-dark m-0">  <button>Profil</button> </li>
                    <li class="nav-item text-dark m-0">  <button>Contact</button> </li>
                    <li class="nav-item text-dark m-0"> <button>Se Connecter</button></li>
                </ul>
            </div>
        </div>
    </nav>
</section>
<main class="Main">
    <h1 class="Titre row justify-content-center m-5 fw-bolder"> Virement
    </h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card rounded-3  ">
                    <div
                            class="card-header d-flex justify-content-center bg-warning text-light">
                        Faire un virement de 5€
                    </div>
                    <div class="card-body text-center">
                        Envoyez 5€ a un ami : <br>
                        - Gratuit - <br> - Instanté - <br> - Totalement sécurisé -
                    </div>
                    <button
                            class="Boutton m-3 border-light rounded-2 text-light bg-success">
                        ENVOYER</button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card rounded-3 ">
                    <div
                            class="card-header d-flex justify-content-center bg-warning text-light">
                        Faire un virement de 10€
                    </div>
                    <div class="card-body text-center">
                        Envoyez 10€ a un ami :<br>
                        - Gratuit -  <br> - Instanté -<br> - Totalement sécurisé -
                    </div>
                    <button
                            class="Boutton m-3 border-light rounded-2 text-light bg-success">
                        ENVOYER</button>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card rounded-3 ">
                    <div
                            class="card-header d-flex justify-content-center bg-warning text-light">
                        Montant libre...
                    </div>
                    <div class="card-body text-center">
                        montant libre a un ami :<br>
                        - Gratuit -  <br> - Instanté -<br> - Totalement sécurisé -
                    </div>
                    <button class="Boutton m-3 border-light rounded-2 text-light bg-success">
                        ENVOYER</button>
                </div>

            </div>

        </div>

        <h1 class="Titre m-5 text-center fw-lighter fw-bolder">Historique de Virement</h1>
        <div class="title justify-content-center row col-md-12">
            <p class="titre col-sm-6 text-center"> Dates </p>
            <p class="titre col-md-6 text-center"> Sommes </p>
        </div>
        <div class="card-group justify-content-center col-md-12 ">
            <div class="card col-sm-3 ">

                <div class="card-body">
                    <p class="card-text">
                </div>
            </div>

            <div class="card col-sm-3 ">

                <div class="card-body">
                    <p class="card-text">
                </div>
            </div>
        </div>
    </div>
</main>
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">

            <img src="/image/flash-cash-high-resolution-logo-transparent.png" alt=""
                 width="30px"
                 height="auto">

            <p class="text-muted">© 2024</p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Section</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
        </div>
    </footer>
</div>

</footer>
</body>
</html>